<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <link rel="stylesheet" href="../../public/stylesheets/style2.css">
    <title>Display Information</title>
  </head>

  <body> 

    <div class="container d-flex justify-content-center">
        <table class="table table-striped-columns">
            <thead>
                <tr class="table-primary">
                    <th colSpan="4" style="margin: 50px; ;text-align: center; font-size:xx-large; color: rgb(255, 152, 33);">  Điều khiển thiết bị  </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>Thiết bị 1</td>
                    <td><input type="checkbox" checked data-toggle="toggle" data-width="100"></td>
                    <td>Trạng thái thiết bị 1</td>
                    <td><img class="img-fluid" src="../../public/images/led1.png"></td>
                </tr>
                <tr>
                    <td>Thiết bị 2</td>
                    <td><input type="checkbox" checked data-toggle="toggle" data-width="100"></td>
                    <td>Trạng thái thiết bị 2</td>
                    <td><img class="img-fluid" src="../../public/images/led2.png"></td>
                </tr> 
                <tr>
                    <td>Điều khiển tự động</td>
                    <td><input type="checkbox" checked data-toggle="toggle" data-width="100"></td>
                    <td>Trạng thái Auto</td>
                    <td><img class="img-fluid" src="../../public/images/led1.png"></td>
                </tr>                   
            </tbody>
        </table>
    </div>




  </body>
</html>