<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../public/stylesheets/style2.css">
    <title>Display Information</title>
  </head>
  <body>
    <div class="container d-flex justify-content-center">
      <div class="weather">
        <div class="row">
          <div class="col-md-6">
            <div class="card"><span class="icon"><img class="img-fluid" src="https://img.icons8.com/emoji/96/000000/sun-emoji.png"></span>
              <div class="title">
                <p>Nhiệt độ</p>
              </div>
              <div class="temp">+20 <sup>°</sup>C</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card"><span class="icon"><img class="img-fluid" src="../../public/images/ph.png"></span>
              <div class="title">
                <p>Độ pH</p>
              </div>
              <div class="temp">18<sup>°</sup></div>                                              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card"><span class="icon"><img src="../../public/images/oxi.png"></span>
              <div class="title">
                <p>Độ oxi hòa tan</p>
              </div>
              <div class="temp">17<sup>°</sup></div>
            </div>
          </div>
          <div class="col-md-6">
            <v class="card"><span class="icon"><img src="../../public/images/opaque.png"></span>
              <div class="title">
                <p>Độ đục</p>
              </div>
              <div class="temp">+15<sup>°</sup></div>
            </v>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>