doctype html
html(lang='en')
  include ./header.jade
  body
    include ./navbar.jade
    .image-block
      img.img-fluid.image-background(src='/images/wallpaper_1.jpg' alt="Image Title")
      
  script(type='text/javascript').
    // Prevent dropdown menu from closing when click inside the form
    $(document).on("click", ".navbar-right .dropdown-menu", function(e){
    e.stopPropagation();
    });
           