<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/tab-bar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Chart</title>
</head>

<body>
    <div class="container">
        {{>header}}
        <div style="width:1000px;height:500px">
            <canvas id="firstChart"></canvas>
        </div>
        <br>
        <button id="btn_test1" type="button" class="btn btn-primary">Primary</button>
        <button id="btn_test2" type="button" class="btn btn-secondary">Secondary</button>
        <button id="btn_test3" type="button" class="btn btn-success">Success</button>
        <button id="btn_test4" type="button" class="btn btn-danger">Danger</button>
        <br>
        <div style="width:1000px;height:500px">
            <canvas id="secondChart"></canvas>
        </div>
        <br>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chọn Tuần
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <br>
        <script src="/js/chart.js"></script>
    </div>
</body>