<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/tab-bar.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>

<body>
    
  <div class="container">
    {{>header}}
    <table class="table table-striped-columns">
      <thead>
        <tr class="table-primary">
          <th colspan="4" style="margin: 50px; ;text-align: center; font-size:xx-large; color: rgb(255, 152, 33);"> Điều khiển thiết bị </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td>Máy Bơm Nước</td>
          <td>
            <input id="ctl_mayBom" type="checkbox" checked="" data-toggle="toggle" data-width="100" onchange="deviceChecked(1)">
          </td>
          <td>Trạng thái: Máy Bơm Nước</td>
          <td><img class="img-fluid" src="/images/led1.png" alt="Image Title"></td>
        </tr>
        <tr>
          <td>Máy Bơm OXI</td>
          <td>
            <input id="ctl_bomOxi" type="checkbox" checked="" data-toggle="toggle" data-width="100" onchange="deviceChecked(2)">
          </td>
          <td>Trạng thái: Máy Bơm OXI</td>
          <td><img class="img-fluid" src="/images/led2.png" alt="Image Title"></td>
        </tr>
        <tr>
          <td>Máy Lọc Nước</td>
          <td>
            <input id="ctl_locNuoc" type="checkbox" checked="" data-toggle="toggle" data-width="100" onchange="deviceChecked(3)">
          </td>
          <td>Trạng thái: Máy Lọc Nước</td>
          <td><img class="img-fluid" src="/images/led2.png" alt="Image Title"></td>
        </tr>
        <tr>
          <td>Sò Làm Mát Máy</td>
          <td>
            <input id="ctl_soNongLanh" type="checkbox" checked="" data-toggle="toggle" data-width="100" onchange="deviceChecked(4)">
          </td>
          <td>Trạng thái: Sò Làm Mát Máy</td>
          <td><img class="img-fluid" src="/images/led2.png" alt="Image Title"></td>
        </tr>
        <tr>
          <td>Máy Sưởi Bể Cá</td>
          <td>
            <input id="ctl_maySuoi" type="checkbox" checked="" data-toggle="toggle" data-width="100" onchange="deviceChecked(5)">
          </td>
          <td>Trạng thái: Máy Sưởi Bể Cá</td>
          <td><img class="img-fluid" src="/images/led2.png" alt="Image Title"></td>
        </tr>
        <tr>
          <td>Điều khiển tự động</td>
          <td>
            <input id="ctl_auto" type="checkbox" data-toggle="toggle" data-width="100" onchange="checkAutoClick()">
          </td>
          <td>Trạng thái Auto</td>
          <td>
            <img class="img-fluid" src="/images/led1.png" alt="Image Title">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script>
    let mayBom = document.getElementById("ctl_mayBom");
    var bomOxi = document.getElementById("ctl_bomOxi");
    var locNuoc = document.getElementById("ctl_locNuoc");
    var soNongLanh = document.getElementById("ctl_soNongLanh");
    var maySuoi = document.getElementById("ctl_maySuoi");
    var auto = document.getElementById("ctl_auto");
    //- Check case if enable Auto will disable control mode
    function checkAutoClick() {
      console.log('Auto check ', auto.checked)
      if (auto.checked == true) {
        $('#ctl_mayBom').bootstrapToggle('disable');
        $('#ctl_bomOxi').bootstrapToggle('disable');
        $('#ctl_locNuoc').bootstrapToggle('disable');
        $('#ctl_soNongLanh').bootstrapToggle('disable');
        $('#ctl_maySuoi').bootstrapToggle('disable');
      } else {
        $('#ctl_mayBom').bootstrapToggle('enable');
        $('#ctl_bomOxi').bootstrapToggle('enable');
        $('#ctl_locNuoc').bootstrapToggle('enable');
        $('#ctl_soNongLanh').bootstrapToggle('enable');
        $('#ctl_maySuoi').bootstrapToggle('enable');
      }
    }
    function deviceChecked(id){
      console.log("ID : ", id);
    }
    console.log("autoCtr: ", auto.checked)
  </script>
</body>

</html>