doctype html
html(lang='en')
  head
    include ../header.jade
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    include ../navbar.jade
    .container.d-flex.justify-content-center
        .weather
            .row
                .col-md-6
                    .card
                        span.icon
                            img.img-fluid(src='https://img.icons8.com/emoji/96/000000/sun-emoji.png')
                        |               
                        .title
                            p Nhi&#x1EC7;t &dstrok;&#x1ED9;
                        |               
                        .temp
                            | +20 
                            sup &deg;
                            | C
                |           
                .col-md-6
                    .card
                        span.icon
                            img.img-fluid(src='images/ph.png')
                        |               
                        .title
                            p &Dstrok;&#x1ED9; pH
                        |               
                        .temp
                            | 18
                            sup &deg;
                |         
            .row
                .col-md-6
                    .card
                        span.icon
                            img(src='/images/oxi.png')
                        |               
                        .title
                            p &Dstrok;&#x1ED9; oxi h&ograve;a tan
                        |               
                        .temp
                            | 17
                            sup &deg;
                |           
                .col-md-6
                    .card
                        span.icon
                            img(src='/images/opaque.png')
                        |               
                        .title
                            p &Dstrok;&#x1ED9; &dstrok;&#x1EE5;c
                        |               
                        .temp
                            | +15
                            sup &deg;